@model IEnumerable<A.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Listagem de Vendas</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QtVendida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QtVendida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva.Veiculo.Marca)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VendaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.VendaId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
