@model IEnumerable<A.Models.Veiculo>

@{
    ViewData["Title"] = "Index2";
    @Html.Raw(TempData["msg"])
}

<h1>Veiculos da Empresa</h1>

@if (User.IsInRole("Gestor") || User.IsInRole("Funcionario") || User.IsInRole("Admin"))
{
    <div class="container-fluid d-flex align-content-end justify-content-end mb-3">
        <a class="btn btn-primary" asp-action="Create" asp-controller="Veiculos">Adicionar veiculo</a>
    </div>
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

<table class="table table-striped table-bordered" style="width:100%" id="veiculos">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoDiario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoDiario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            </td>
            @if (User.IsInRole("Gestor") || User.IsInRole("Funcionario") || User.IsInRole("Admin"))
            {
                <td>
                    <a class="mx-1 btn btn-primary text-center" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="mx-1 btn btn-warning text-center" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="mx-1 btn btn-danger text-center" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
            $(document).ready(function () {
                $('#veiculos').DataTable();
            });
        </script>