@model List<A.Models.Veiculo>

@{
    ViewData["Title"] = "Meus veiculos";
}

@if (User.IsInRole("Gestor") || User.IsInRole("Funcionario"))
{
    <div class="container-fluid d-flex align-content-end justify-content-end mb-3">
        <a class="btn btn-primary" asp-action="Create" asp-controller="Veiculos">Adicionar veiculo</a>
    </div>
}

<div class="row">
    <div class="col-2">
        <a asp-action="Index" asp-controller="Veiculos" asp-route-disponivel="">Todos</a> |
        <a asp-controller="Veiculos" asp-action="Index" asp-route-disponivel="true">Activos</a> |
        <a asp-controller="Veiculos" asp-action="Index" asp-route-disponivel="false">Inactivos</a> |
    </div>
    <div class="col-10">
        <form method="post">
            Pesquisa:
            <input type="text" id="TextoAPesquisar" name="TextoAPesquisar">

            <select name="CategoriaId" asp-items="ViewBag.CategoriaId"></select>

            <input type="submit" value="Pesquisar" />
        </form>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="card-title">(@Html.DisplayFor(a => item.Categoria.Nome)) @item.Marca @item.Modelo </h5>
                </div>
                <div class="card-body">
                    <img id="Foto" src="data:image/*;base64,@(Convert.ToBase64String(item.Foto))" width="250" height="250"/>
                    <p class="card-text">@item.Descricao</p>
                    <p class="card-text">@item.Local</p>
                    <p class="card-text"><small class="text-muted">@Html.DisplayFor(a => item.Empresa.Nome)</small></p>
                    <a class="mx-1 btn btn-primary text-center" asp-controller="Veiculos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Gestor") || User.IsInRole("Funcionario"))
                    {
                        <a class="mx-1 btn btn-warning text-center" asp-controller="Veiculos" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="mx-1 btn btn-danger text-center" asp-controller="Veiculos" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    }
                    else
                    {
                        <a class="mx-1 btn btn-primary text-center" asp-controller="Veiculos" asp-action="Details" asp-route-id="@item.Id">Comprar</a>
                    }
                </div>
            </div>
        </div>
    }
</div>